@font-face {
	font-family: "TIMESS";
	src: url("TIMESS__.ttf") format('truetype');
}

h1 {
	font-family: 'TIMESS';
	color: white;
	font-size: 120px;
}

li {
	display: inline !important; 
}

i {	
	-webkit-transition: color 1s; /* Safari */
    transition: color 1s;
	font-size:2.5em;
	margin: 15px;
}
a {
	color: white;
	text-decoration:none;
}
i:hover {
	color: #D3D3D3;
}

a:visited {
	color: white;
}

.title {
	padding: 40px;
	border: 30px;
}
/*
 * Fractal style specs
*/
svg {
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

path {
	transition: all 2s linear !important;
}